<h2>Account detail</h2>
<ng-container *ngIf="(aligned$ | async) else empty">
  <div class="d-flex flex-column" *ngIf="(user$ | async) as user" class="pt-2">
    <div class="d-flex">
      <b class="mr-1">username:</b>
      <span>{{user.username}}</span>
    </div>
    <div class="d-flex">
      <b class="mr-1">email:</b>
      <span>{{user.email}}</span>
    </div>
    <div class="d-flex">
      <b class="mr-1">name:</b>
      <span>{{user.fullName}}</span>
    </div>
  </div>
</ng-container>
<ng-template #empty>
  Waiting user
</ng-template>